body{
    background: white;
    font-family: 'Noto Sans', sans-serif;

}
a,p,h1,h2,a:hover{
    font-family: 'Noto Sans', sans-serif;

}
.nav-link >.btn-log{
    color: white;
    background-color:#ee493a ;
    border-radius: 5px;
    margin-left: 5px;
}
/*input search */
.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
    width: 100%;
}
/*end of input search */
