body{
    background: white;
    font-family: 'Noto Sans', sans-serif;

}

p,h1,h2,a:hover{
    font-family: 'Noto Sans', sans-serif;

}

.nav-link >.btn-log{
    color: white;
    background-color:#ee493a ;
    border-radius: 5px;
    margin-left: 5px;
}
/*input search */
.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
    width: 100%;
}
/*end of input search */

.category a {
    font-size: 18px;
    padding: 15px;
    color: #5f5f5f;
    text-decoration: none !important;
}
.category a:hover{
    color: #000000;
}
.category{
    border-bottom: 1px solid #e4d5d594;
}
.x-categori{
  padding: 15px 0 15px 0;
}